# Rickie Kerndt <rkerndt@cs.uoregon.edu>
# systemd service file to start, status and shutdown the power center
# This file should be located under directory /etc/systemd/system

[Unit]
    Description=Bicycle Power Center

[Service]
    Type=idle
    KillMode=process
    ExecStart=/usr/bin/python /home/pi/lib/python/bike_power_center.py

[Install]
    WantedBy=multi-user.target